* {
    font-family: fantasy, 'Roboto';
}

/*************************** 
First section (Header) 
***************************/
.headercontainer {
    display:flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding:1rem 1rem 0rem 1rem;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

ul li {
    padding: 10px;
    display: inline;
  }
  
ul li a, a:hover, a:visited, a:active {
    color: #efe7eb;
    text-decoration: none;
    font-size: 18px;
}
.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

/*************************** 
Second section 
("This website is awesome") 
***************************/
.maintext {
    font-size: 48px;
    font-weight: 800; /* extra bold = 800*/
    color: #f9faf8;
    margin-bottom: 0;
    padding-bottom:0;
}

.secondcontainer {
    background-color: #1f2937;
    color: #efe7eb;
    padding: 0rem 3rem 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.signup {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px; /*makes button more circular on the corners*/
}

/*************************** 
Third section (on dog photos) 
***************************/
.photos img {
    /* max-width: 100%;
    height: auto; */
    width:100%;
    height:80%;
    object-fit:cover;
}

.photos {
    /* max-height: 250px; cannot specify this max-height, or else the images will overlap with the elements outside of the div with the "photos" class*/ 
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    width:100%; 
    gap: 10px;
}

.center, .photos div p {
    text-align: center;
}


/* * {
    border-style: dotted;
} */
